@page
@model Parkeringsplads.Pages.Admin.AdminDashboardModel
@{
    ViewData["Title"] = "Admin oversigt";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<h2>Admin Oversigt</h2>

<!-- Bootstrap Nav Tabs -->
<ul class="nav nav-tabs" id="adminTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="users-tab" data-bs-toggle="tab" data-bs-target="#users" type="button" role="tab" aria-controls="users" aria-selected="true">
            Brugere
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="cars-tab" data-bs-toggle="tab" data-bs-target="#cars" type="button" role="tab" aria-controls="cars" aria-selected="false">
            Biler
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="cities-tab" data-bs-toggle="tab" data-bs-target="#cities" type="button" role="tab" aria-controls="cities" aria-selected="false">
            Byer
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="addresses-tab" data-bs-toggle="tab" data-bs-target="#addresses" type="button" role="tab" aria-controls="addresses" aria-selected="false">
            Adresser
        </button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link" id="schools-tab" data-bs-toggle="tab" data-bs-target="#schools" type="button" role="tab" aria-controls="schools" aria-selected="false">
            Skoler
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="drivers-tab" data-bs-toggle="tab" data-bs-target="#drivers" type="button" role="tab" aria-controls="drivers" aria-selected="false">
            Chauffører
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="trips-tab" data-bs-toggle="tab" data-bs-target="#trips" type="button" role="tab" aria-controls="trips" aria-selected="false">
            Ture
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="requests-tab" data-bs-toggle="tab" data-bs-target="#requests" type="button" role="tab" aria-controls="requests" aria-selected="false">
            Anmodninger
        </button>
    </li>

</ul>

<!-- All tabs -->
<div class="tab-content mt-3" id="adminTabContent">

    <!-- Users Tab -->
    <div class="tab-pane fade" id="users" role="tabpanel" aria-labelledby="users-tab">
        <h3>Søg på bruger</h3>

        <a asp-page="/UserPages/CreateUser" class="btn btn-success mb-3">
            Opret bruger
        </a>


        <form method="get" class="mb-3">
            <div class="input-group">
                <input type="text" class="form-control" name="SearchTerm" placeholder="Søg på bruger..." value="@Model.SearchTerm" />
                <button class="btn btn-primary" type="submit">Søg</button>
            </div>
        </form>

        @if (Model.Users != null && Model.Users.Any())
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Bruger Id</th>
                        <th>Fornavn</th>
                        <th>Efternavn</th>
                        <th>Email</th>
                        <th>Telefonnummer</th>
                        <th>Rolle</th>
                        <th>Skole</th>
                        <th>Opdater</th>
                        <th>Slet</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Users)
                    {
                        <tr>
                            <td>@user.UserId</td>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.Email</td>
                            <td>@user.Phone</td>
                            <td>@user.Title</td>
                            <td>@user.School?.SchoolName</td>
                            <td>
                                <a asp-page="/UserPages/UpdateUser" asp-route-userId="@user.UserId" class="text-warning me-2"
                                   onclick="return confirm('Are you sure you want to edit this user?');" title="Opdater bruger">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                            <td>
                                <form method="post"
                                      asp-page-handler="DeleteUser"
                                      asp-route-userId="@user.UserId"
                                      onsubmit="return confirm('Are you sure you want to delete this user?');"
                                      class="d-inline">
                                    <button type="submit" class="btn btn-link p-0" title="Slet bruger">
                                        <i class="fas fa-trash-alt text-danger"></i>
                                    </button>
                                </form>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No users found.</p>
        }
    </div>

    <!-- Cars Tab -->
    <div class="tab-pane fade" id="cars" role="tabpanel" aria-labelledby="cars-tab">

        <h3>Søg på bil</h3>

        <a asp-page="/CarPages/Car" class="btn btn-success mb-3">
            Opret bil
        </a>

        <form method="get" asp-page="/Admin/AdminDashboard" asp-route-tab="cars" class="mb-3">
            <div class="input-group">
                <input type="text" class="form-control" name="CarSearchTerm" placeholder="Søg på bil..." value="@Model.CarSearchTerm" />
                <button class="btn btn-primary" type="submit">Søg</button>
            </div>
        </form>


        @if (Model.Cars != null && Model.Cars.Any())
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Bil Id</th>
                        <th>Chauffør</th>
                        <th>Model</th>
                        <th>Nummerplade</th>
                        <th>Antal passagersæder</th>
                        <th>Chauffør Id</th>
                        <th>Opdater</th>
                        <th>Slet</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var car in Model.Cars)
                    {
                        <tr>
                            <td>@car.CarId</td>
                            <td>@car.Driver.User.FirstName @car.Driver.User.LastName</td>
                            <td>@car.CarModel</td>
                            <td>@car.CarPlate</td>
                            <td>@car.CarCapacity</td>
                            <td>@car.DriverId</td>
                            <td>
                                <a asp-page="/CarPages/CarEdit" asp-route-carId="@car.CarId" title="Opdater bil"
                                   onclick="return confirm('Are you sure you want to edit this car?');" class="text-warning me-2">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                            <td>
                                <form method="post"
                                      asp-page-handler="DeleteCar"
                                      asp-route-carId="@car.CarId"
                                      onsubmit="return confirm('Are you sure you want to delete this car?');"
                                      class="d-inline">
                                    <button type="submit" class="btn btn-link p-0" title="Slet bil">
                                        <i class="fas fa-trash-alt text-danger"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No cars found.</p>
        }
    </div>

    <!-- Cities Tab -->
    <div class="tab-pane fade" id="cities" role="tabpanel" aria-labelledby="cities-tab">
        <h3>Søg på by</h3>

        <a asp-page="/Admin/cityadmin" class="btn btn-success mb-3">
            Opret by
        </a>

        <form method="get" class="mb-3">
            <div class="input-group">
                <input type="text" class="form-control" name="CitySearchTerm" placeholder="Søg på by..." value="@Model.CitySearchTerm" />
                <button class="btn btn-primary" type="submit">Søg</button>
            </div>
        </form>

        @if (Model.Cities != null && Model.Cities.Any())
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>By Id</th>
                        <th>Bynavn</th>
                        <th>Postnummer</th>
                        <th>Opdater</th>
                        <th>Slet</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var city in Model.Cities)
                    {
                        <tr>
                            <td>@city.CityId</td>
                            <td>@city.CityName</td>
                            <td>@city.PostalCode</td>
                            <td>
                                <a asp-page="/Admin/CityAdmin" asp-route-cityId="@city.CityId" class="text-warning me-2"
                                   onclick="return confirm('Are you sure you want to edit this city?');" title="Opdater by">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                            <td>
                                <form method="post"
                                      asp-page-handler="DeleteCity"
                                      asp-route-cityId="@city.CityId"
                                      onsubmit="return confirm('Are you sure you want to delete this city?');"
                                      class="d-inline">
                                    <button type="submit" class="btn btn-link p-0" title="Slet by">
                                        <i class="fas fa-trash-alt text-danger"></i>
                                    </button>
                                </form>

                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No cities found.</p>
        }
    </div>

    <!-- Addresses Tab -->
    <div class="tab-pane fade" id="addresses" role="tabpanel" aria-labelledby="addresses-tab">
        <h3>Søg på adresse</h3>

        <form method="get" class="mb-3">
            <div class="input-group">
                <input type="text" class="form-control" name="AddressSearchTerm" placeholder="Søg på adresse..." value="@Model.AddressSearchTerm" />
                <button class="btn btn-primary" type="submit">Søg</button>
            </div>
        </form>



        @if (Model.Addresses != null && Model.Addresses.Any())
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Adresse Id</th>
                        <th>Vej</th>
                        <th>Nummer</th>
                        <th>By</th>
                        <th>Postnummer</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var address in Model.Addresses)
                    {
                        <tr>
                            <td>@address.AddressId</td>
                            <td>@address.AddressRoad</td>
                            <td>@address.AddressNumber</td>
                            <td>@address.City.CityName</td>
                            <td>@address.City.PostalCode</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No addresses found.</p>
        }
    </div>

    <!-- Schools Tab -->
    <div class="tab-pane fade" id="schools" role="tabpanel" aria-labelledby="schools-tab">
        <h3>Søg på skole</h3>

        <a asp-page="/Admin/AddSchoolAdmin" class="btn btn-success mb-3">
            Opret skole
        </a>

        <form method="get" class="mb-3">
            <div class="input-group">
                <input type="text" class="form-control" name="SchoolSearchTerm" placeholder="Søg på skole..." value="@Model.SchoolSearchTerm" />
                <button class="btn btn-primary" type="submit">Søg</button>
            </div>
        </form>

        @if (Model.Schools != null && Model.Schools.Any())
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Skole Id</th>
                        <th>Skolenavn</th>
                        <th>Vej</th>
                        <th>Nummer</th>
                        <th>By</th>
                        <th>Postnummer</th>
                        <th>Opdater</th>
                        <th>Slet</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var school in Model.Schools)
                    {
                        <tr>
                            <td>@school.SchoolId</td>
                            <td>@school.SchoolName</td>
                            <td>@school.Address.AddressRoad</td>
                            <td>@school.Address.AddressNumber</td>
                            <td>@school.Address.City.CityName</td>
                            <td>@school.Address.City.PostalCode</td>
                            <td>
                                <a asp-page="/Admin/EditSchoolAdmin" asp-route-schoolId="@school.SchoolId" class="text-warning me-2"
                                   onclick="return confirm('Are you sure you want to edit this school?');" title="Opdater skole">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                            <td>
                                <form method="post" asp-page-handler="DeleteSchool" asp-route-schoolId="@school.SchoolId"
                                      onsubmit="return confirm('Are you sure you want to delete this school?');"
                                      class="d-inline">
                                    <button type="submit" class="btn btn-link p-0" title="Slet skole">
                                        <i class="fas fa-trash-alt text-danger"></i>
                                    </button>
                                </form>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No schools found.</p>
        }
    </div>

    <!-- Drivers Tab -->
    <div class="tab-pane fade" id="drivers" role="tabpanel" aria-labelledby="drivers-tab">
        <h3>Søg på chauffør</h3>

        <a asp-page="/Admin/AddDriverAdmin" class="btn btn-success mb-3">
            Opret chauffør
        </a>

        <form method="get" class="mb-3">
            <div class="input-group">
                <input type="text" class="form-control" name="DriverSearchTerm" placeholder="Søg på chauffør..." value="@Model.DriverSearchTerm" />
                <button class="btn btn-primary" type="submit">Søg</button>
            </div>
        </form>

        @if (Model.Drivers != null && Model.Drivers.Any())
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Chauffør Id</th>
                        <th>Kørekortnummer</th>
                        <th>CPR</th>
                        <th>Chaufførnavn</th>
                        <th>Email</th>
                        <th>Opdater</th>
                        <th>Slet</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var driver in Model.Drivers)
                    {
                        <tr>
                            <td>@driver.DriverId</td>
                            <td>@driver.DriverLicense</td>
                            <td>@driver.DriverCpr</td>
                            <td>@driver.User.FirstName @driver.User.LastName</td>
                            <td>@driver.User.Email</td>
                            <td>
                                <a asp-page="/Admin/EditDriverAdmin" asp-route-driverId="@driver.DriverId" class="text-warning me-2"
                                   onclick="return confirm('Are you sure you want to edit this driver?');" title="Opdater chauffør">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                            <td>
                                <form method="post"
                                      asp-page-handler="DeleteDriver"
                                      asp-route-driverId="@driver.DriverId"
                                      onsubmit="return confirm('Are you sure you want to delete this driver?');"
                                      class="d-inline">
                                    <button type="submit" class="btn btn-link p-0" title="Slet Chauffør">
                                        <i class="fas fa-trash-alt text-danger"></i>
                                    </button>
                                </form>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No drivers found.</p>
        }
    </div>

    <!-- Trips Tab -->
    <div class="tab-pane fade" id="trips" role="tabpanel" aria-labelledby="trips-tab">
        <h3>Søg på tur</h3>

        <a asp-page="/Admin/ChooseDriverAdmin" class="btn btn-success mb-3">
            Opret tur
        </a>

        <form method="get" class="mb-3">
            <div class="input-group">
                <input type="text" class="form-control" name="TripSearchTerm" placeholder="Søg på tur..." value="@Model.TripSearchTerm" />
                <button class="btn btn-primary" type="submit">Søg</button>
            </div>
        </form>

        @if (Model.Trips != null && Model.Trips.Any())
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Tur Id</th>
                        <th>Fra</th>
                        <th>Til</th>
                        <th>Dato</th>
                        <th>Tidspunkt</th>
                        <th>Antal passagerer</th>
                        <th>Chauffør</th>
                        <th>Slet</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var trip in Model.Trips)
                    {
                        <tr>
                            <td>@trip.TripId</td>
                            <td>@trip.FromDestination</td>
                            <td>@trip.ToDestination</td>
                            <td>@trip.TripDate.ToShortDateString()</td>
                            <td>@trip.TripTime</td>
                            <td>@trip.TripSeats</td>

                            <!-- Driver Info -->
                            <td>
                                @if (trip.Car?.Driver?.User != null)
                                {
                                    @trip.Car.Driver.User.FirstName @trip.Car.Driver.User.LastName
                                }
                                else
                                {
                                    <span>No Driver Assigned</span>
                                }
                            </td>

                            <td>
                                <form method="post"
                                      asp-page-handler="DeleteTrip"
                                      asp-route-tripId="@trip.TripId"
                                      onsubmit="return confirm('Are you sure you want to delete this trip?');"
                                      class="d-inline">
                                    <button type="submit" class="btn btn-link p-0" title="Slet tur">
                                        <i class="fas fa-trash-alt text-danger"></i>
                                    </button>
                                </form>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No trips found.</p>
        }
    </div>


    <!-- Requests Tab -->
    <div class="tab-pane fade" id="requests" role="tabpanel" aria-labelledby="requests-tab">
        <h3>Søg på anmodning</h3>

        <a asp-page="/Admin/AddRequestAdmin" class="btn btn-success mb-3">
            Opret anmodning
        </a>

        <form method="get" class="mb-3">
            <div class="input-group">
                <input type="text" class="form-control" name="RequestSearchTerm" placeholder="Søg på anmodning..." value="@Model.RequestSearchTerm" />
                <button class="btn btn-primary" type="submit">Søg</button>
            </div>
        </form>

        @if (Model.Requests != null && Model.Requests.Any())
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Anmodning Id</th>
                        <th>Status</th>
                        <th>Tidspunk</th>
                        <th>Adresse</th>
                        <th>Besked</th>
                        <th>Bruger</th>
                        <th>Tur (Fra → Til)</th>
                        <th>Slet</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var request in Model.Requests)
                    {
                        <tr>
                            <td>@request.RequestId</td>
                            <td>@(request.RequestStatus.HasValue?(request.RequestStatus.Value ? "Accepteret" : "Afslået") : "Afventer")</td>
                            <td>@request.RequestTime</td>
                            <td>@request.RequestAddress</td>
                            <td>@request.RequestMessage</td>
                            <td>@(request.Users != null ? request.Users.FirstName + " " + request.Users.LastName : "N/A")</td>
                            <td>@request.Trip.FromDestination → @request.Trip.ToDestination</td>
                            <td>
                                <form method="post"
                                      asp-page-handler="DeleteRequest"
                                      asp-route-requestId="@request.RequestId"
                                      onsubmit="return confirm('Are you sure you want to delete this request?');"
                                      class="d-inline">
                                    <button type="submit" class="btn btn-link p-0" title="Slet anmodning">
                                        <i class="fas fa-trash-alt text-danger"></i>
                                    </button>
                                </form>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No requests found.</p>
        }
    </div>


</div>

