@page
@model Parkeringsplads.Pages.UserPages.MyRequestsModel
@{
}
<div class=" p-3 pt-5 pb-5">
<h1 class="pb-3">Mine anmodninger</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Chauffør</th>
            <th>Fra</th>
            <th>Til</th>
            <th>Dato</th>
            <th>Tid</th>
            <th>Status</th>
            

            
        </tr>
    </thead>
    <tbody>
        @foreach (var request in Model.Requests)
        {
            <tr>
                <td>@request.Trip.Car.Driver.User.FirstName @request.Trip.Car.Driver.User.LastName</td>
                <td>@request.Trip.FromDestination</td>
                <td>@request.Trip.ToDestination</td>
                <td>@request.Trip.TripDate</td>
                <td>@request.Trip.TripTime</td>
               
                <td>@Model.GetRequestStatusText(request.RequestStatus)</td>

                <td>
                    <form method="post">
                        <a asp-page="/Delete/ConfirmDelete" asp-route-type="Request" asp-route-id="@request.RequestId" class="btn btn-danger">Delete</a>

                    </form>

                </td>
                
            </tr>
        }

    </tbody>
</table>

</div>
