@page
@model Parkeringsplads.Pages.Account.ProfileModel

<h1>My Profile</h1>

@if (!string.IsNullOrEmpty(Model.UserEmail))
{
    <div>
        <p>User <strong>@Model.UserEmail</strong> is logged in.</p>
        <p><strong>First Name:</strong> @Model.FirstName</p>
        <p><strong>Last Name:</strong> @Model.LastName</p>
        <p><strong>Phone:</strong> @Model.Phone</p>
        <p><strong>Title:</strong> @Model.Title</p>
        <p><strong>Skole:</strong> @Model.SchoolName</p>
    </div>

    @if (!Model.IsDriver)
    {
        <a asp-page="/Account/BecomeDriver" class="btn btn-primary">Become a Driver</a>
    }
    else
    {
        @if (Model.Driver != null)
        {
            <p class="text-success">You are registered as a driver.</p>
            <div>
                <p><strong>Driver License:</strong> @Model.Driver.DriverLicense</p>
                <p><strong>CPR Number:</strong> @Model.Driver.DriverCpr</p>
            </div>
        }
    }

    <!-- Link to Change Password page -->
    <div>
        <a href="./Login/ChangePassword">Change Password</a>
    </div>
    <div>
        <a href="/UserPages/UpdateUser">Opdater din profil</a>
    </div>
}
else
{
    <p>You are not logged in.</p>
}
