@{
    var isUserLoggedIn = Context?.Session?.GetString("UserEmail") != null;
    var userEmail = isUserLoggedIn ? Context.Session.GetString("UserEmail") : string.Empty;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Parkeringsplads</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Parkeringsplads.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Parkeringsplads</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    
                    <ul class="navbar-nav flex-grow-1">

                        <!-- Login Button, shown only if the user is NOT logged in -->
                        @if (!isUserLoggedIn)
                        {
                            @* <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Login">Login</a>
                            </li> *@
                        }

                        <!-- These items will be shown only if the user is logged in -->
                        @if (isUserLoggedIn)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Test">Test</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Trip/CreateTrip">Opret tur</a>
                            </li>
                        }
                    </ul>   

                    <!-- Conditional Login/Logout buttons -->
                    <ul class="navbar-nav ml-auto d-flex flex-row-reverse bd-highligh">
                        @if (isUserLoggedIn)
                        {
                           
                            <!-- Logout Button -->
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@Url.Page("/account/login/Logout")">
                                    <i class="fas fa-sign-out-alt"></i>
                                      
                                 
                                    Logout <!-- Logout Icon and Text -->
                                </a>
                            </li>
                            <!-- Profile Button -->
                           
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@Url.Page("/account/Profile")">
                                    <i class="fas fa-user"></i> @userEmail
                                </a>
                            </li>

                        }
                        else
                        {
                            <!-- Login Button -->
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@Url.Page("/account/login/login")">
                                    @if (!string.IsNullOrEmpty(userEmail))
                                    {
                                        <div>@userEmail</div> <!-- or a placeholder name -->
                                    }
                                    <i class="fas fa-sign-in-alt"></i> Login <!-- Login Icon and Text -->
                                </a>
                            </li>
                        }
                        
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Parkeringsplads - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>